[submodule "__submodules/yii"]
	path = __submodules/yii
	url = git://github.com/yiisoft/yii.git
[submodule "__submodules/smarty-renderer"]
	path = __submodules/smarty-renderer
	url = git://github.com/yiiext/smarty-renderer.git
[submodule "__submodules/UglifyJS"]
	path = __submodules/UglifyJS
	url = git://github.com/mishoo/UglifyJS.git
