/* 普通 */
.type_100 {
    color: #221714;
}

/* 区間急行 */
.type_110, .type_500 {
    color: #009d43;
}

/* 準急 */
.type_120, .type_130 {
    color: #006bb8;
}

/* 急行 */
.type_140, .type_150,
.type_896 { /* おうじちゃま借用 */
    color: #e9540d;
}

/* 快速急行 */
.type_160, .type_170, .type_550, .type_560 {
    color: #6d1e85;
}

/* 特急 */
.type_180, .type_895 {
    color: #be153e;
}
