table.traindia {
    margin: 0 auto;
    /* table-layout: fixed; */
    border: 1px solid #ccc;
    border-collapse: collapse;
    border-spacing: 0;
    width: 90%;
}

table.traindia th, table.traindia td {
    padding: 5px;
    border: 1px solid #ccc;
    border-width: 0 0 1px 1px;
}

table.traindia td {
}

table.traindia td.time {
    text-align: center;
}

table.traindia th {
    text-align: center;
    font-weight: normal;
    background-color: #ddd;
}

/*
table.traindia th[colspan="2"] {
    width: 45%;
}
*/

table.traindia tr.stationrow th.timetable {
    width: 30px;
}
